from fabric.api import *


INSTALLDIR = ''
VENVCMD = ''

env.hosts = [
    '',
]

env.user = ""

# Set the password [NOT RECOMMENDED]
# env.password = "passwd"


def restart_elections():
    sudo("systemctl restart election")


def deploy():
    with cd(INSTALLDIR), prefix(VENVCMD):
        run("git pull")
        run("./manage.py collectstatic")

    restart_elections()
