{% extends "base.html" %}
{% load static %}

{% block title %}Elecciones - Reportes{% endblock %}

{% block head_css %}
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />

{% endblock %}

{% block custom_menu %}
  <a href="{% url 'report' %}">Regresar</a>
{% endblock %}

{% block content %}
  <h1>Resultados de {{ election.name }}</h1>
  <div class="ct-chart ct-golden-section"></div>
{% endblock %}

{% block extra_js %}
  <script>
   var data = {
       labels: [{{ labels }}],
       series: [{{ series }}]
   };

   var options = {
       labelInterpolationFnc: function(value) {
           return value[0]
       },
   };

   var responsiveOptions = [
       ['screen and (min-width: 640px)', {
           chartPadding: 30,
           labelOffset: 100,
           labelDirection: 'explode',
           labelInterpolationFnc: function(value) {
               return value;
           }
       }],
       ['screen and (min-width: 1024px)', {
           labelOffset: 80,
           chartPadding: 20
       }]
   ];

   new Chartist.Pie('.ct-chart', data, options, responsiveOptions);
  </script>
{% endblock %}
