{% extends "base.html" %}
{% load static %}

{% block title %}Elecciones - Reportes{% endblock %}

{% block head_css %}
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />

{% endblock %}

{% block custom_menu %}
  <a href="{% url 'report' %}">Regresar</a>
{% endblock %}

{% block content %}
  {% block section_title %}
    <h1>Resultados de {{ election.name }}</h1>
  {% endblock section_title %}
  <div class="ct-chart ct-golden-section"></div>
  {% block download %}
    <br />
    <hr />
    <div>
      <center><a class="button special icon fa-download" href="{% url 'election-csv' pk=election.pk %}">
        Descargar resultados</a></center>
    </div>
  {% endblock %}
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Lista</th>
          <th># de Votos</th>
          <th>Porcentaje</th>
          <th>Mesas</th>
        </tr>
      </thead>
      <tbody>
        {% for list, votes, perc in table %}
          <tr>
            <td>{{ list.short_description }}</td>
            <td>{{ votes }}</td>
            <td>{{ perc }}%</td>
            <td>
              <ul>
                {% for result in list.results %}
                  <li>{{ result.name }}: {{ result.votes }}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% block section_footer %}
  <h3>Reportes por mesa</h3>
  <ul>
    {% for station in election.pollingstation_set.all %}
      <li><a href='{% url 'station-detail' pk=station.pk %}'>{{ station.name }}</a></li>
    {% endfor %}
  </ul>
  {% endblock section_footer %}
{% endblock %}

{% block extra_js %}
  <script>
   var data = {
       labels: [{{ labels }}],
       series: [{{ series }}]
   };

   var options = {
       labelInterpolationFnc: function(value) {
           return value[0]
       },
   };

   var responsiveOptions = [
       ['screen and (min-width: 640px)', {
           chartPadding: 30,
           labelOffset: 100,
           labelDirection: 'explode',
           labelInterpolationFnc: function(value) {
               return value;
           }
       }],
       ['screen and (min-width: 1024px)', {
           labelOffset: 80,
           chartPadding: 20
       }]
   ];

   new Chartist.Pie('.ct-chart', data, options, responsiveOptions);
  </script>
{% endblock %}
